html{
    background-color: var(--theme-color);
    color: black;
    font-family: monospace;
}

.--header{
    color: inherit;
    text-align: center;
    padding: 20px 100px 30px 100px;
}

.header--title{
    color: inherit;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

#match_example{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    padding-left: 10%;
}

#options{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.creation_div{
    padding: 10px 30px 10px 30px;
    width: 50%;
    height: fit-content;
    height: -moz-fit-content;
    text-align: center;
    color: black;
    margin-left: 25%;
}

#create_div{
    border-bottom: 3px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#create_div:hover{
  border:3px solid red;
}

#join_div{
  margin-top: 10px;
  border-top: 3px solid orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#join_div:hover{
  border: 3px solid orange;
}

.creation_p{
    text-align: center;
    font-size: 40px;
    color: inherit;
}

#crea{
  width: 100%;
}

#join_lobby_p{
    font-size: 20px;
}

#tag_lobby{
    outline: none;
    border: 0;
    width: 80%;
    height: 50px;
    box-shadow: none;
    border-bottom: 1px solid black;
    font-size: 25px;
    text-align: center;
}
#tag_lobby:focus{
  border-color: orange;
}

.join_lobby{
    margin: 15px;
    border: 0px;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    outline: none;
}

.join_lobby:hover{
  color: orange;
}

#error{
    font-size: 20px;
    color: red;
    display: none;
}
