p{
  font-family: monospace
}

#title{
  font-size: 50px;
  padding-left: 50px;
  font-weight: 700;
}

#players{
  margin-left: 50px;
  margin-top: 50px;
  width: fit-content;
  width: -moz-fit-content;
}

.player{
  font-size: 20px;
  margin-top: 40px;
  max-width: 300px;
}

.player_info{
  font-size: 16px;
  color: gray;
  font-style: italic;
  display: none;
  max-width: 300px;
}

#who_plays{
  position: absolute;
  top: 50px;
  right: 40px;
}

#who_plays p:first-child{
  font-weight: 700;
  font-size: 25px;
}

#rules{
  font-size: 20px;
  margin-left: 200px;
}

.match_section{
  position: absolute;
  top: 120px;
  left: 20%;
  width: -moz-fit-content;
  padding: 20px;
  width: 30%;
}

#match_parent{
  position: relative;
  width: fit-content;
  margin: auto;
  padding: auto;
}

.buttons{
  display: none;
}

.buttons div{
  border: 3px solid red;
  border-radius: 10px;
  margin: 20px; 
  border-style: dashed;
  border-spacing: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttons div:hover{
  border-style: solid;
}

.buttons p{
  font-weight: 500;
  font-size: 20px;
  width: fit-content;
  width: -moz-fit-content;
}
