:root{
    --theme-color: white;
    --second-color: skyblue;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}

.match{
    position: relative;
    margin: 20px;
}

.cell{
    display: inline-block;
    border: 1px solid black;
}

.block{
    background-color: black;
    position: absolute;
    border-radius: 10px;
}

.player_position_arrow{
    position: absolute;
    width: 30px;
    height: 10px;
    border-radius: 10px 0px 0px 10px;

}

.pedina{
    position: absolute;
    border-radius: 20px;
}