:root{
    --theme-color: white;
    --second-color: skyblue;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}

.match{
    position: relative;
    margin: 20px;
}

.cell{
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    position: relative;
}

.block{
    background-color: black;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
    bottom: -6px;
    left: 0px;
    width: 100%;
    height: 10px;
    z-index: 1;
}

.player_position_arrow{
    position: absolute;
    width: 30px;
    height: 10px;
    border-radius: 10px 0px 0px 10px;

}

.pedina{
    position: relative;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    margin: 10%;
    top: -10%;
}

.winners{
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    height: 100px;
}
