:root{
    --theme-color: white;
    --second-color: skyblue;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}

.match{
    position: relative;
    margin: 20px;
}

.corsia{
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
}

.livello{
    border-bottom: 2px solid black;
    position: absolute;
}

.block{
    background-color: black;
    position: absolute;
    border-radius: 10px;
}
