<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubblock</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/classes.js"></script>
    <script src="scripts/home.js"></script>
    <header class="--header">
        <h1 class="header--title">DubBlock</h1>
    </header>
    <div id="match_example"></div>
    <div id="options">
        <div class="creation_div">
            <p class="creation_p" onclick="creaLobby()">Crea una lobby</p>
        </div>
        <div class="creation_div">
            <p id="join_lobby_p" class="creation_p">Unisciti ad una lobby</p>
            <input type="text" id="tag_lobby" placeholder="Tag della lobby" onchange="$('#error').hide()">
            <button class="join_lobby" onclick="joinLobby()">UNISCITI</button>
            <p id="error">Impossibile accedere: lobby inesistente</p>
        </div>
    </div>
</body>
</html>