<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dubblock</title>

    <link rel="stylesheet" type="text/css" href="static/temp/styles.css">
    <link rel= "stylesheet" type= "text/css" href="static/temp/partita.css">
</head>

<body>
  <script src="static/scripts/jquery.js"></script>
  <script src="static/scripts/constants.js"></script>
  <script src="static/scripts/classes.js"></script>
  <script src="static/scripts/partita.js"></script>
  <header class="header header--bg">
    <div class="title_wrapper">
      <p id = "title">Dubblock</p>
    </div>
  </header>


  <section id="players">

  </section>
