<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dubblock</title>

    <link rel="stylesheet" type="text/css" href="static/temp/styles.css">
    <link rel= "stylesheet" type= "text/css" href="static/temp/partita.css">
</head>

<body>
  <script src="static/scripts/jquery.js"></script>
  <script src="static/scripts/constants.js"></script>
  <script src="static/scripts/classes.js"></script>
  <script src="static/scripts/partita.js"></script>

  <header class="header header--bg">
    <div class="title_wrapper">
      <p id = "title" onclick="location.href='/';" style="cursor: pointer;">Dubblock</p>
    </div>
  </header>

  <section id="who_plays">
    <p>È il turno di <span></span></p>
    <p id="rules" style="max-width: 350px; display: none;">
      <br>Puoi fare una delle seguenti mosse:
      <br>-Muovere la tua pedina in un'altra corsia
      <br>-Muovere la tua pedina in avanti
      <br>-Spostare un blocco in un punto di livello maggiore o pari al tuo.
    </p>
  </section>

  <div>
    <section id="players"></section>

    <section class="match_section">
      <div id="match_parent">

      </div>
    </section>
  </div>
</body>
