<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DUBBLOCK</title>

    <link rel= "stylesheet" type= "text/css" href="partita.css">
</head>

<body>
  <header class="header header--bg">
    <div class="title_wrapper">
      <p id = "title">DUBBLOCK</p>
    </div>
  </header>


  <section id="players">
    <p class = "player">Player 1</p>
    <p class = "player">Player 2</p>
    <p class = "player">Player 3</p>
    <p class = "player">Player 4</p>
  </section>
