<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubblock</title>
    <link rel="stylesheet" href="static/temp/styles.css">
    <link rel="stylesheet" href="static/temp/prepartita.css">
</head>

<section id="choose_pedina_popup" onclick="$('#choose_pedina_popup').hide()">
    <div id="pedine">
        <h1>Scegli la tua pedina</h1>
        <div id="lista_pedine">

        </div>
    </div>
</section>
<section id="settings_popup" onclick="$('#settings_popup').hide()">
    <div class="options">
      <div class="options_wrapper">
      <p>NUMERO CORSIE:</p>
        <div id="numero_corsie" class="box_choice">
            <p><i class="arrow_up" id="up_corsie"></i></p>
            <p id="numero_corsie_input" class="number_square">2</p>
            <p><i class="arrow_down" id="down_corsie"></i></p>
        </div>
        </div>

        <div class="options_wrapper">
        <p>NUMERO LIVELLI:</p>
        <div id="numero_livelli" class="box_choice">
            <p><i class="arrow_up" id="up_livelli"></i></p>
            <p id="numero_livelli_input" class="number_square">1</p>
            <p><i class="arrow_down" id="down_livelli"></i></p>

        </div>
        </div>

        <div class="options_wrapper">
        <p>BLOCCHI PER LIVELLO:</p>
            <div id="numero_blocchi" class="box_choice">
            <p><i class="arrow_up" id="up_blocchi"></i></p>
            <p id="numero_blocchi_input" class="number_square">1</p>
            <p><i class="arrow_down" id="down_blocchi"></i></p>
          </div>
        </div>
        <br>
        <div class="conferma_wrapper">
            <button id = "conferma_inizio" onclick="startPartita()">Conferma</button>
        </div>

    </div>
</section>
<body>
    <script src="static/scripts/jquery.js"></script>
    <script src="static/scripts/constants.js"></script>
    <script src="static/scripts/classes.js"></script>
    <script src="static/scripts/prepartita.js"></script>

    <header class="--title">
        <h1 class="title--title" onclick="location.href='/';" style="cursor: pointer;">Dubblock</h1>
    </header>
    <header class="--title">
        <div id="players_wrapper">
          <h1>Giocatori pronti a cominciare:</h1>
            <div id="players" class="players">
            </div>
            <p id="noPlayers">Sei il primo. Invia il link della partita ai tuoi amici per iniziare a giocare!</p>
        </div>
        <button onclick="popupPedine()" id="join">Entra</button>
    </header>
    <div id= "inizia_wrapper">
      <button id = "inizia" onclick="popupSettings()">Inizia a giocare!</button>
    </div>
    <div class="share">
      <input type="text" value="" id="link" readonly>
      <button onclick="copyLinkToClipboard()" id="copyText">Copy</button>
    </div>
</body>
</html>
